<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gm.demo.crawler.dao.mapper.MetadataMapper">
  <resultMap id="BaseResultMap" type="com.gm.demo.crawler.dao.model.Metadata">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="field" jdbcType="VARCHAR" property="field" />
    <result column="data_type" jdbcType="VARCHAR" property="dataType" />
    <result column="len" jdbcType="INTEGER" property="len" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="tab" jdbcType="VARCHAR" property="tab" />
  </resultMap>
  <sql id="Base_Column_List">
    id, field, data_type, len, comment, tab
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from metadata
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from metadata
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gm.demo.crawler.dao.model.Metadata">
    insert into metadata (id, field, data_type, 
      len, comment, tab)
    values (#{id,jdbcType=INTEGER}, #{field,jdbcType=VARCHAR}, #{dataType,jdbcType=VARCHAR}, 
      #{len,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}, #{tab,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gm.demo.crawler.dao.model.Metadata">
    insert into metadata
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="field != null">
        field,
      </if>
      <if test="dataType != null">
        data_type,
      </if>
      <if test="len != null">
        len,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="tab != null">
        tab,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="field != null">
        #{field,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="len != null">
        #{len,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="tab != null">
        #{tab,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gm.demo.crawler.dao.model.Metadata">
    update metadata
    <set>
      <if test="field != null">
        field = #{field,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        data_type = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="len != null">
        len = #{len,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="tab != null">
        tab = #{tab,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gm.demo.crawler.dao.model.Metadata">
    update metadata
    set field = #{field,jdbcType=VARCHAR},
      data_type = #{dataType,jdbcType=VARCHAR},
      len = #{len,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR},
      tab = #{tab,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>